ion-navbar {

  .helper{
    font-family: 'MyFontFamily';
    text-transform: uppercase;
    letter-spacing: 0.14em;
    background: blue;
  }

  button.lynx-button-primary {
    background-color: $lynxTranslucentPink;
  }

}


page-help-me-find {

  ion-content {
    background-position-x: 50%;
    background-size: cover;
  }

  .lynx-card-help-me-find {
    background-color: $lynxTranslucentPink;

    ion-card-header.card-header {
      padding: size(3) size(6) size(2);

      img.lynx-logo-md {
        margin: size(1) auto;
      }
    }

    ion-card-content.card-content {

      color: $lynxWhite;
      padding: size(2) size(4) size(1);

      .lynx-welcome-message-2 {
        font-size: x-large;
      }

      .lynx-help-me-find-buttons {

        margin: size(2) 0 size(4);

 
      }
      .lynx-help-me-find-buttons-subtitle {
        text-alighn: center !important;
      }

    }


  }

}
