<ion-header no-border>
  <ion-navbar transparent>
    
    <div *ngIf="alerts" id="messages-button">
    <button *ngIf="alerts.length > 0" ion-button
            round
            class="lynx-button-primary"
            (click)="presentAlerts()"> 
      <ion-icon class="padded" name="mail"></ion-icon>
      <ion-label>{{ "pages.home.alerts_button" | translate }}</ion-label>
    </button>
    </div>
    
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding>
  
  <ion-grid>
    <ion-row>
      <ion-col col-md-8 offset-md-2>

        <ion-card class="lynx-card-help-me-find">

          <ion-card-header text-wrap text-center>

            <img class="lynx-logo-md" src="../../assets/img/Lynx-logo-white-med.png" alt="LYNX logo" />
            {{ "pages.home.welcome_message_1" | translate }}
            
          </ion-card-header>
          

          <ion-card-content text-wrap text-center>
            
            {{ "pages.home.welcome_message_2" | translate }}
            
            <div class="lynx-help-me-find-buttons">
              
              <button ion-button
                      large round full
                      class="lynx-button-white"
                      menuClose
                      (click)="openResourcesPage()"> 
                {{ "pages.home.resources_button" | translate }}
              </button>
              
              <button ion-button 
                      large round full
                      class="lynx-button-white"
                      menuClose
                      (click)="openTransportationPage()"> 
                {{ "pages.home.transportation_button" | translate }}
              </button>
              
            </div>

          </ion-card-content>

        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>        

</ion-content>
