<!--
  Generated template for the UserLocatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="lynx-toolbar lynx-toolbar-black">
    <ion-title text-center>
      <img class="lynx-logo-sm" src="../../assets/img/Lynx-logo-pink-xsm.png" alt="LYNX Icon">
    </ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-toolbar class="lynx-toolbar" text-center>

    <div id="origin-search-container">
      <ion-title>{{ "pages.user_locator.origin_search.label" | translate }}</ion-title>
      <place-search #originSearch
                    placeholder="{{ 'pages.user_locator.origin_search.placeholder_pending' | translate }}">
      </place-search>
    </div>

    <div id="destination-search-container" [hidden]="findServicesView">
      <ion-title>{{ "pages.user_locator.destination_search.label" | translate }}</ion-title>
      <place-search #destinationSearch
                    placeholder="{{ 'pages.user_locator.destination_search.placeholder_pending' | translate }}">
      </place-search>
    </div>

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list id="origin-autocomplete-results">
    <ion-item *ngFor="let item of originSearch.autocompleteItems"
              tappable
              (click)="originSearch.chooseItem(item)"
              (click)='centerMapOnPlace(item, "origin")'>
      <b>{{ item.name }}</b> {{ item.formatted_address }}
    </ion-item>
  </ion-list>

  <ion-list id="destination-autocomplete-results" [hidden]="findServicesView">
    <ion-item *ngFor="let item of destinationSearch.autocompleteItems"
              tappable
              (click)="destinationSearch.chooseItem(item)"
              (click)='centerMapOnPlace(item, "destination")'>
      <b>{{ item.name }}</b> {{ item.formatted_address }}
    </ion-item>
  </ion-list>

  <div text-center id="find-services-button-container" *ngIf="findServicesView">
    <button ion-button round
            class="lynx-button-primary"
            id="find-services-button"
            (click)="searchForServices(originSearch.place)"
            *ngIf="!!userLocation || originSearch.place">
      {{ "pages.user_locator.resources_button" | translate }}
      <ion-icon pull-right name="arrow-forward"></ion-icon>
    </button>
  </div>

  <div text-center id="find-transportation-button-container" *ngIf="!findServicesView">
    <button ion-button round
            class="lynx-button-primary"
            id="find-transportation-button"
            *ngIf="originSearch.place && destinationSearch.place"
            (click)="findTransportation(originSearch.place, destinationSearch.place)">
        {{ "pages.user_locator.transportation_button" | translate }}
      <ion-icon pull-right name="arrow-forward"></ion-icon>
    </button>
  </div>

  <div id="user-locator-map-canvas" (click)="originSearch.clear()"></div>

</ion-content>
