<!--
  Generated template for the UserLocatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="lynx-toolbar lynx-toolbar-black">
    <ion-title text-center>
      <img class="lynx-logo-sm" src="../../assets/img/Lynx-logo-pink-xsm.png" alt="LYNX Icon">
    </ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-toolbar class="lynx-toolbar" text-center>
    <ion-title>Where are you?</ion-title>
    <!-- <ion-searchbar  [(ngModel)]="autocomplete.query" 
                    [showCancelButton]="true" 
                    (ionInput)="updateSearch()">
    </ion-searchbar> -->
    <ion-searchbar  [ngModel]="addressQuery"
                    [formControl]="searchControl"
                    [showCancelButton]="true">
    </ion-searchbar>

  </ion-toolbar>

</ion-header>


<ion-content>
  
  <ion-list id="autocomplete-results">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      <b>{{ item.name }}</b> {{ item.formatted_address }}
    </ion-item>
  </ion-list>
  
  <div text-center id="find-services-button-container">
    <button ion-button round 
            class="lynx-button-primary"
            id="find-services-button"
            (click)="searchForServices(fromPlace)"
            *ngIf="!!fromPlace">
      Find Services
      <ion-icon pull-right name="arrow-forward"></ion-icon>
    </button>
  </div>


  <div id="user-locator-map-canvas" (click)="clearSearchResults()"></div>
  
</ion-content>
