page-user-locator {

  #user-locator-map-canvas{
    width: 100%;
    height: 100%;
  }
  
  #origin-autocomplete-results,
  #destination-autocomplete-results {
    position: absolute;
    z-index: 1000;
  }
  
  #find-services-button-container,
  #find-transportation-button-container {
    padding: size(2);
    position: absolute;
    width: 100%;
    z-index: 500;
    
    #find-services-button,
    #find-transportation-button {
      padding-right: size(1);
      ion-icon {
        margin-left: size(1);
      }
    }
  }
  


}
