<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-8 offset-md-2>
        <ion-list class="lynx-list" radio-group>
          <ion-list-header>Sort By</ion-list-header>
          <ion-item>
            <ion-label><ion-icon name="car"></ion-icon>Driving</ion-label>
            <ion-radio checked="true" value="driveTime" (ionSelect)="orderMatchList('drive_time')"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="bus"></ion-icon>Transit</ion-label>
            <ion-radio value="transitTime" (ionSelect)="orderMatchList('transit_time')"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-8 offset-md-2>
        <ion-list class="lynx-list">
          <ion-list-header>Services</ion-list-header>
          <ion-item class="lynx-list-inline-item" text-wrap 
                    *ngFor="let match of matches" 
                    (click)="selectService(match)">
            <ion-label>
              <h3 class="item-heading"> {{match.agency_name}} </h3>
              <h4 class="item-subheading"> {{match.address}} </h4>
            </ion-label>
            <div item-content>
              <div class="icon-wrapper">
                <div *ngIf="orderBy == 'transit_time'; then orderByTransitTime else orderByDriveTime"></div>
              </div>
              <ng-template #orderByDriveTime>
                <ion-icon name="car"></ion-icon>
                <label>{{match.drive_time | prettyTime}}</label>
              </ng-template>
              <ng-template #orderByTransitTime  class="icon-wrapper">
                <ion-icon center name="bus"></ion-icon>
                <label>{{match.transit_time | prettyTime}}</label>
              </ng-template>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
