<!--
  Generated template for the TransportationEligibilityPage page.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select All That Apply</ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  
  <!-- ACCOMMODATIONS -->
  <ion-list class="lynx-list" [hidden]="accommodations.length === 0">
    <ion-list-header>Accommodations</ion-list-header>

    <ion-item *ngFor="let acc of accommodations">
      <ion-label>{{acc.name}}</ion-label>
      <ion-checkbox [(ngModel)]="acc.value"
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  
  <!-- ELIGIBILITIES -->
  <ion-list class="lynx-list" [hidden]="eligibilities.length === 0">
    <ion-list-header>Eligibilities</ion-list-header>

    <ion-item *ngFor="let elig of eligibilities">
      <ion-label>{{elig.name}}</ion-label>
      <ion-checkbox [(ngModel)]="elig.value"
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  
  <div text-center id="view-paratransit-options-button-container" >
    <button ion-button round 
            class="lynx-button-primary"
            id="view-paratransit-options-button"
            (click)="viewParatransitOptions()">
      See All Available Options
      <ion-icon pull-right name="arrow-forward"></ion-icon>
    </button>
  </div>

  

</ion-content>
