<!--
  Generated template for the TransportationEligibilityPage page.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{ "lynx.pages.transportation_eligibility.header" | translate }}
    </ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  
  <h3 text-center>{{ "lynx.pages.transportation_eligibility.question_prompt" | translate }}</h3>
  
  <!-- ACCOMMODATIONS -->
  <ion-list class="lynx-list" [hidden]="accommodations.length === 0">
    <ion-list-header>
      {{ "lynx.pages.transportation_eligibility.accommodations_header" | translate }}
    </ion-list-header>

    <ion-item *ngFor="let acc of accommodations">
      <ion-label>{{acc.note}}</ion-label>
      <ion-checkbox [(ngModel)]="acc.value"
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  
  <!-- ELIGIBILITIES -->
  <ion-list class="lynx-list" [hidden]="eligibilities.length === 0">
    <ion-list-header>
      {{ "lynx.pages.transportation_eligibility.eligibilities_header" | translate }}
    </ion-list-header>

    <ion-item *ngFor="let elig of eligibilities">
      <ion-label>{{elig.note}}</ion-label>
      <ion-checkbox [(ngModel)]="elig.value"
                    (ionChange)="updateCharacteristic()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  
  <!-- PLAN TRIP -->
  <div text-center id="view-paratransit-options-button-container" >
    <button ion-button round 
            class="lynx-button-primary"
            id="view-paratransit-options-button"
            (click)="viewParatransitOptions()">
      {{ "lynx.pages.transportation_eligibility.plan_trip_button" | translate }}
      <ion-icon pull-right name="arrow-forward"></ion-icon>
    </button>
  </div>

</ion-content>
