page-transportation-eligibility {


  #view-paratransit-options-button-container {
    padding-bottom: size(2);
    width: 100%;
    
    #view-paratransit-options-button {
      padding-right: size(1);
      ion-icon {
        margin-left: size(1);
      }
    }
  }
  
}
