page-directions-route-detail {
  
  #directions-route-detail-wrapper {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: column;
    
    #directions-route-options-container {
      flex: 0 1 auto;
    }
    
    #directions-route-map-canvas {
      flex: 1 1 auto;
    }

  }
  

}
