page-services-list-tab {
  .toolbar_light, .fixed-content{
    margin-top: 0 !important;
  }
}

.lynx-list-inline-item div:hover {
    background-color: $lynxLtGray;
}

.sort-by-header div:hover {
    background-color: $lynxLtGray;
}

.lynx-list-inline-item{
  cursor: pointer;
}