<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-sm-8 offset-sm-2 col-md-4 offset-md-4>
        <ion-list class="lynx-list" radio-group>
          <ion-list-header>{{ "lynx.pages.services.list_tab.sort_by_header" | translate }}</ion-list-header>
          <ion-item>
            <ion-label><ion-icon name="car"></ion-icon>{{ "lynx.global.modes.car" | translate }}</ion-label>
            <ion-radio checked="true" value="driveTime" (ionSelect)="orderMatchList('drive_time')"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="bus"></ion-icon>{{ "lynx.global.modes.transit" | translate }}</ion-label>
            <ion-radio value="transitTime" (ionSelect)="orderMatchList('transit_time')"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-sm-10 offset-sm-1 col-md-8 offset-md-2>
        <ion-list class="lynx-list">
          <ion-list-header>{{ "lynx.pages.services.list_tab.results_header" | translate }}</ion-list-header>
          <ion-item class="lynx-list-inline-item" text-wrap 
                    *ngFor="let match of services" 
                    (click)="selectService(match)">
            <ion-label>
              <h3 class="item-heading"> {{match.agency_name}} </h3>
              <h4 class="item-subheading"> {{match.address}} </h4>
              <p> {{match.details.service_description}} </p>
            </ion-label>
            <div item-content>
              <div class="icon-wrapper">
                <div *ngIf="orderBy == 'transit_time'; then orderByTransitTime else orderByDriveTime"></div>
              </div>
              <ng-template #orderByDriveTime>
                <ion-icon name="car"></ion-icon>
                <label>{{match.drive_time | prettyTime}}</label>
              </ng-template>
              <ng-template #orderByTransitTime  class="icon-wrapper">
                <ion-icon center name="bus"></ion-icon>
                <label>{{match.transit_time | prettyTime}}</label>
              </ng-template>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>  
      <!-- Email button -->
      <ion-col col-md-12 text-center>
        <h3>{{ "lynx.pages.services.list_tab.email_yourself" | translate}}</h3>
        <button ion-button round 
                class="lynx-button-primary"
                (click)="openEmailModal(services)">
          {{ "lynx.global.common.send_email" | translate}} 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
