<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><img src="../../assets/img/Lynx-logo-pink-xsm.png" alt="LYNX Icon"></ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div *ngIf="user">
    <form (ngSubmit)="updateProfile()" #updateProfileForm="ngForm">
      
      <ion-row>
        <ion-col>
          <ion-input  class="lynx-input" 
                      type="text" 
                      placeholder="First Name" 
                      name="first_name" 
                      [(ngModel)]="user.first_name" 
                      required>
          </ion-input>
          <ion-input  class="lynx-input" 
                      type="text" 
                      placeholder="Last name" 
                      name="last_name" 
                      [(ngModel)]="user.last_name" 
                      required>
          </ion-input>
          <ion-input  class="lynx-input" 
                      type="text" 
                      placeholder="Email" 
                      name="email" 
                      [(ngModel)]="user.email" 
                      required>
          </ion-input>
          <ion-input  class="lynx-input" 
                      type="password" 
                      placeholder="Password" 
                      name="password" 
                      [(ngModel)]="user.password" 
                      required>
          </ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <button ion-button round class="lynx-button-dark center" type="submit" [disabled]="!updateProfileForm.form.valid">
            Update
          </button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col col-md-8 offset-md-2 *ngIf="user">
        <ion-row>
        {{user.first_name}} {{user.last_name}}
        </ion-row>
        <ion-row>
        {{user.email}}
        </ion-row>
        <ion-row>
        {{user.preferred_locale}}
        </ion-row>
        <ion-row>
          <ion-list class="lynx-list">
            <button menuClose ion-item class="toolbar_light" *ngFor="let eligibility of eligibilities" (click)="updateProfile()">
              {{eligibility.name}}: {{eligibility.value}}
            </button>
          </ion-list>
        </ion-row>

        <ion-row>
          <ion-list class="lynx-list">
            <button menuClose ion-item class="toolbar_light" *ngFor="let accommodation of accommodations">
              {{accommodation.name}}: {{accommodation.value}}
            </button>
          </ion-list>
        </ion-row>


        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

