// Give a toolbar or navbar the lynx-toolbar class to apply these styles
ion-navbar.lynx-toolbar,
ion-toolbar.lynx-toolbar {
  background-color: $lynxPink; // Default to lynx Pink (also set in variables sheet in case .lynx-toolbar class is missing)
  color: $lynxWhite; // Default font color white
  font-size: $font-size-md;
  font-weight: 500;
  
  ion-title .toolbar-title {
    padding: 0;
    font-size: $font-size-lg;
    // white-space: initial; // This makes the title text wrap    
  }

  // Fix iOS formatting weirdness
  ion-title.title-ios {
    padding: 0;
    position: inherit !important;
  }
  
  .lynx-toolbar-body {
    font-size: $font-size-sm;
    
    a { 
      color: $lynxWhite;
    }
  }
  
  // High-contrast toolbar with black background, white lettering
  &.lynx-toolbar-black {
    background-color: $lynxBlack;
    color: $lynxWhite;
  }
  
  // Overlay toolbar with black background, white lettering
  &.lynx-toolbar-overlay {
    background-color: transparentize($lynxBlack, 0.65);
    color: $lynxWhite;
  }
  
  // White toolbar
  &.lynx-toolbar-white {
    background-color: $lynxWhite;
    color: $lynxDarkPink;
  }
  
  // This line sets the background of the bar based on the assigned background
  // color of the containing element
  &> .toolbar-background {
    background-color: inherit;
    
    .toolbar-content {
      color: inherit;
    }
  }
  
}


ion-tabs {
  ion-tab {
    
  }
}


// Fixes for weird iOS searchbar styling
.lynx-toolbar.toolbar .searchbar-ios .searchbar-input {
  background-color: $lynxWhite;
}
.searchbar-ios-cancel {
  color: $lynxBlack;
}


// This class uses media queries to scale the size of the toolbar font based
// on the width of the screen.
.dynamic-toolbar-title {
  
  @media (min-width: 0em) {
    font-size: $font-size-sm;
    margin: size(-1) 0;
  }
  
  @media (min-width: 25em) {
    font-size: $font-size-md;
    margin: size(-2) 0;
  }
  
  @media (min-width: 40em) {
    font-size: $font-size-lg;
    margin: size(-4) 0;
  }
}
