// Give a toolbar or navbar the lynx-toolbar class to apply these styles
ion-navbar.lynx-toolbar,
ion-toolbar.lynx-toolbar {
  background-color: $lynxPink; // Default to lynx Pink (also set in variables sheet in case .lynx-toolbar class is missing)
  color: $lynxWhite; // Default font color white
  font-size: $font-size-md;
  font-weight: 500;
  
  ion-title .toolbar-title {
    padding: 0;
    font-size: $font-size-lg;
    // white-space: initial; // This makes the title text wrap    
  }

  // Fix iOS formatting weirdness
  ion-title.title-ios {
    padding: 0;
    position: inherit !important;
  }

  // Fix iOS formatting weirdness
  ion-title.title-ios {
    padding: 0;
    position: inherit !important;
  }
  
  // Dynamic title text wraps, and font size gets smaller on smaller screens
  ion-title.dynamic-toolbar-title .toolbar-title {
    white-space: initial;
    
    @media (max-width: 40em) {
      font-size: $font-size-md;
    }
  }
    
  .lynx-toolbar-body {
    font-size: $font-size-sm;
    
    a { 
      color: $lynxWhite;
    }
  }
  
  // High-contrast toolbar with black background, white lettering
  &.lynx-toolbar-black {
    background-color: $lynxBlack;
    color: $lynxWhite;
  }
  
  // Overlay toolbar with black background, white lettering
  &.lynx-toolbar-overlay {
    background-color: $lynxShadow;
    color: $lynxWhite;
  }
  
  // White toolbar
  &.lynx-toolbar-white {
    background-color: $lynxWhite;
    color: $lynxDarkPink;
  }
  
  // This line sets the background of the bar based on the assigned background
  // color of the containing element
  &> .toolbar-background {
    background-color: inherit;
    
    .toolbar-content {
      color: inherit;
    }
  }
  
}


ion-tabs {
  ion-tab {
    
  }
}


// Fixes for weird iOS searchbar styling
.lynx-toolbar.toolbar .searchbar-ios .searchbar-input {
  background-color: $lynxWhite;
}
.searchbar-ios-cancel {
  color: $lynxBlack;
}

ion-toolbar.lynx-toolbar {
  @media (min-width: #{map-get($grid-breakpoints, sm)}) {
    padding-left: 8.3%;
    padding-right: 8.3%;
  }
  
  @media (min-width: #{map-get($grid-breakpoints, md)}) {
    padding-left: 16.7%;
    padding-right: 16.7%;
  }
}
