/* BUTTONS */

// Lynx Button Primary (bright pink, black on click)
// EXAMPLE: <button ion-button round class="lynx-button-primary"> BUTTON TEXT </button>
button.lynx-button-primary {
  background-color: $lynxPink;
  color: $lynxWhite;
  
  &:active {
    background-color: $lynxBlack;
    color: $lynxWhite;
  }
}

// Lynx Button Outline (white, dark pink outline, dark pink on click)
// EXAMPLE: <button ion-button round outline class="lynx-button-outline"> BUTTON TEXT </button>
button.lynx-button-outline {
  background-color: $lynxWhite;
  border: scale(-5) solid $lynxDarkPink;
  color: $lynxDarkPink;
  
  &:active {
    background-color: $lynxDarkPink;
    color: $lynxWhite;
  }
}

// Lynx Button Dark (dark pink, white on click)
// EXAMPLE: <button ion-button round class="lynx-button-dark"> BUTTON TEXT </button>
button.lynx-button-dark {
  background-color: $lynxDarkPink;
  border: scale(-5) solid $lynxDarkPink;
  color: $lynxWhite;
  
  &:active {
    background-color: $lynxWhite;
    border-color: $lynxLtGray;
    color: $lynxDarkPink;
  }
}
