/* BUTTONS */

// Lynx Button Primary (bright pink, black on click)
// EXAMPLE: <button ion-button round class="lynx-button-primary"> BUTTON TEXT </button>
button.lynx-button-primary {
  background-color: $lynxPink;
  color: $lynxWhite;
  
  ion-icon.icon.icon-ios,
  ion-icon.icon.icon-md,
  ion-icon.icon.icon-wp {
    color: inherit;
  }
  
  &:active, &:hover {
    background-color: $lynxBlack;
    color: $lynxWhite;
  }
}

// Lynx Button Outline (white, dark pink outline, dark pink on click)
// EXAMPLE: <button ion-button round outline class="lynx-button-outline"> BUTTON TEXT </button>
button.lynx-button-outline {
  background-color: $lynxWhite;
  border: size(-5) solid $lynxDarkPink;
  color: $lynxDarkPink;
  
  &:active, &:hover {
    background-color: $lynxDarkPink;
    color: $lynxWhite;
  }
}

// Lynx Button Dark (dark pink, white on click)
// EXAMPLE: <button ion-button round class="lynx-button-dark"> BUTTON TEXT </button>
button.lynx-button-dark {
  background-color: $lynxDarkPink;
  border: size(-5) solid $lynxDarkPink;
  color: $lynxWhite;
  
  &:active, &:hover {
    background-color: $lynxWhite !important;
    border-color: $lynxLtGray;
    color: $lynxDarkPink;
  }
}

// Lynx Button White (white, no outline, dark pink on click)
// EXAMPLE: <button ion-button round class="lynx-button-white"> BUTTON TEXT </button>
button.lynx-button-white {
  background-color: $lynxWhite;
  color: $lynxDarkPink;
  
  &:active, &:hover {
    background-color: $lynxDarkPink;
    color: $lynxWhite;
  }
}

button.lynx-button-clear {
  background: rgba(black, 0.0);
  color: $lynxWhite;

  &:active, &:hover {
    background-color: $lynxDarkPink;
    color: $lynxWhite;
  }
}

// Circular Buttons
button.lynx-button-circle {
  border-radius: 50%;
  font-size: $font-size-md;
  font-weight: 900;
  height: size(5);
  width: size(5);
}
button.lynx-button-circle-lg {
  border-radius: 50%;
  font-size: $font-size-lg;
  font-weight: 900;
  height: size(7);
  width: size(7);
}

// Link-style Buttons
div.lynx-button-link,
button.lynx-button-link,
a.lynx-button-link {
  background-color: transparent;
  cursor: pointer;
  font-size: $font-size-md;
  font-weight: 500;
  margin: size(1);
  text-decoration: none;
  
  &:active, &:hover {
    opacity: 1.0;
  }
  
  // Link colorings
  &.link-pink {
    color: $lynxDarkPink;
    &:active, &:hover {
      color: $lynxPink;
    }
  }
  &.link-black {
    color: $lynxBlack;
    &:active, &:hover {
      color: $lynxWhite;
    }
  }
  &.link-white {
    color: $lynxWhite;
    &:active, &:hover {
      color: $lynxPink;
    }
  }
}
