
// Style overwrites for the ng-pick-datetime widget
.owl-dateTime {
}
.owl-dateTime-input {
  display: none;
}
.owl-dateTime-dialog {
  
  border: 1px solid $lynxDarkPink;
  background-color: $lynxWhite;
  // color: purple;
  z-index: 100;
  
  td {
    padding: size(-1);
  }
}
