
// Style overwrites for the ng-pick-datetime widget
.owl-dateTime {
  border: 2px solid red;
}
.owl-dateTime-input {
  // display: none;
}
.owl-dateTime-dialog {
  background-color: yellow;
  color: purple;
}
