/* FORMS AND INPUTS */


// Basic Lynx Form Input Field (white, sharp corners, small spacing between)
// EXAMPLE: <ion-input class="lynx-input"></ion-input>
ion-input.lynx-input {
  
  background-color: $lynxWhite;
  margin: size(-5) 0;
  padding-left: size(1);
  
  ::placeholder {
    color: $lynxDkGray;
  }
  
}
