/* LISTS & ITEMS */

.lynx-list {

  .item {

    background-color: $lynxWhite;

    // Only show dividers between list items.
    &:last-child  { border-bottom:  none; }
    &:first-child { border-top:     none; }


    /* FONT FORMATTING FOR LIST ITEMS */
    // Format item text using section classes to be applied to div, h3, p, etc. tags.

    // Header line should be pink
    .item-heading {
      color: $lynxPink;
      font-size: $font-size-md;
      font-weight: 500;
    }
    
    .item-subheading {
      font-size: $font-size-sm;
      font-weight: 500;
      color: $lynxDkGray;
    }
    
    .item-body {
      color: $lynxBlack;
      font-size: $font-size-sm;
      font-weight: 300;
    }
    
    &.list-header {
      background-color: $lynxLtGray;
      color: $lynxDkGray;
      font-size: $font-size-md;
      font-weight: 500;
      margin-bottom: 0;
    }
    
    .label {
      .icon {
        width: size(4);
        text-align: center;
      }
    }
    
    .icon {
      color: $lynxBlack;
    }
    
    &.lynx-list-inline-item {
      
      .item-heading {
        color: $lynxBlack;
        font-size: $font-size-sm;
      }
      
      .icon-wrapper {
        text-align: center;
        font-size: $font-size-xs;
        .icon {
          display: block;
          font-size: $font-size-lg;
        }
      }
      

    }

  }

}
