
// Medium-sized logo for sign in page. Centered, scales up to max size.
// EXAMPLE:  <img class="lynx-logo-md" src="../../assets/img/Lynx-logo-white-med.png" alt="LYNX Icon">
img.lynx-logo-md {
  display: block;
  margin: 0 auto;
  max-height: size(8);
  padding: size(0);
  width: auto;
}


// Small-sized logo for sign in page. Centered, scales up to max size.
// EXAMPLE:  <img class="lynx-logo-sm" src="../../assets/img/Lynx-logo-white-sm.png" alt="LYNX Icon">
img.lynx-logo-sm {
  display: block;
  margin: 0 auto;
  max-height: size(4);
  padding: 0;
  width: auto;
}

// Small-sized logo for sign in page. Centered, scales up to max size.
// EXAMPLE:  <img class="lynx-logo-sm" src="../../assets/img/Lynx-logo-white-sm.png" alt="LYNX Icon">
img.lynx-logo-ms {
  display: block;
  margin: 0 auto;
  max-height: size(6);
  padding: 0;
  width: auto;
}


// For sizing icons
ion-icon.icon-md,
ion-icon.icon-ios,
ion-icon.icon-wp {
  &.icon-sm {
    font-size: $font-size-md;
  }
  
  &.icon-med {
    font-size: $font-size-lg;
  }
  
  &.icon-lg {
    font-size: $font-size-xl;
  }
}


// Give rating component the "lynx-rating" class to make it display properly
rating.lynx-rating {
  ul.rating {
    display: inline;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0;
      padding: 0 !important;
      font-size: $font-size-lg;
      
      ion-icon.icon {
        width: initial !important;
      }
    }
  }
  
  &.lynx-rating-sm {
    ul.rating > li {
      font-size: $font-size-sm;
    }
  }
}
