

#ion-spinner-container {
  background-color: transparentize($lynxBlack, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  
  ion-spinner {
    height: size(5);
    width: size(5);
  }  
}
