// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


/* COLORS */

$primary:         #488aff;
$secondary:       #32db64;
$danger:          #f53d3d;
$light:           #f4f4f4;
$dark:            #222;
$lynxPink:        #DB0F7D;
$lynxDarkPink:    #9A0959;
$lynxBlack:       #000000;
$lynxWhite:       #f4f4f4;
$lynxLtGray:      darken($lynxWhite, 10%);
$lynxMdGray:      darken($lynxWhite, 35%);
$lynxDkGray:      darken($lynxWhite, 60%);

$colors: (
  primary:        $lynxDarkPink,
  secondary:      $lynxPink,
  danger:         $danger,
  light:          $lynxWhite,
  dark:           $lynxBlack,
  lynxPink:       $lynxPink,
  lynxDarkPink:   $lynxDarkPink,
  lynxBlack:      $lynxBlack,
  lynxWhite:      $lynxWhite,
  lynxLtGray:     $lynxLtGray
);

$background-color: $lynxWhite;
// Scaling Helper Function


/* TYPOGRAPHY */
$font-family-base: "Avenir", 'avenir next', "Helvetica Neue", "Roboto", sans-serif;

@import 'helpers'; // for size() helper function

// Font size variables
$font-size-xs: size(0);
$font-size-sm: size(1);
$font-size-md: size(2);
$font-size-lg: size(3);
$font-size-xl: size(4);

$font-size-base: $font-size-sm;
$font-size-large: $font-size-md;
$font-size-small: $font-size-xs;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
// @import "Avenir";
