page-services-map-tab {
  
  #service-results-map-canvas{
    width: 100%;
    height: 100%;
  }
  
  .travel-time-container {
    font-size: $font-size-md;
    font-weight: 900;
    
    &:first-of-type {
      margin-right: size(2);
    }
  }
  
  #go-toolbar {
    cursor: pointer;
    min-height: size(9);
    @media (min-width: 0em) {
      padding: 0 5%;
    }
    
    @media (min-width: 25em) {
      padding: 0 15%;
    }
    
    @media (min-width: 40em) {
      padding: 0 25%;
    }
    
    &:hover {
      background-color: transparentize($lynxPink, 0.5);
    }
    
    ion-title .toolbar-title {
      font-size: $font-size-lg;
      white-space: initial !important;
    }
  }

}
