// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .content-ios,.content-md,.content-wp {
//   background-color: $light;
// }

.menu-inner > ion-header, .menu-inner > ion-content, .menu-inner > ion-footer .header_dark > .toolbar-background{
  background-color: $lynxBlack;
}

.header_dark > .toolbar-background {
  background-color: $lynxBlack;
}

.header_dark > .toolbar-background {
  background-color: $lynxBlack;
}

.toolbar_dark > .list{
  background-color: $lynxBlack;
}

.toolbar_dark, .item {
  background-color: $lynxBlack;
  color: white;
  //color: $lynxPink;
}

.toolbar_dark, .item:hover {
  background-color: $lynxBlack;
  color: #DB0F7D;
  //lynxDarkPink: #9A0959,
  //color: $lynxPink;
}


/*211 Service listing and selection css.*/
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.categories_for_211 {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /*width: 15em;*/
  
  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    border-bottom: 1px solid $lynxBlack;
    
    &.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    &:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
  }

  .text {
    position: relative;
    top: -3px;
  }
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}

/* Styling for Lists */
.lynx-list {
  
  .item {
    
    background-color: $light;
    
    // Only show dividers between list items.
    &:last-child  { border-bottom:  none; }
    &:first-child { border-top:     none; }
    
    
    /* FONT FORMATTING FOR LIST ITEMS */
    
    // Header line should be pink
    .lynx-list-heading {
      color: $lynxPink;
    }
    
    // Links should not have any underline, and should be black by default
    a {
      color: $lynxBlack;
      text-decoration: none;
    }
    
    h1,h2,h3,h4,h5 {
      color: $lynxBlack;
      font-weight: 500;
    }
    
    h1 { font-size: 2.4rem; }  
    h2 { font-size: 2.0rem; }
    h3 { font-size: 1.8rem; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 1.5rem; }
    
    p {
      color: $lynxBlack;
      font-size: 1.5rem;
      font-weight: 300;
    }
    
  }
  
}
