// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-inner > ion-header, .menu-inner > ion-content, .menu-inner > ion-footer .header_dark > .toolbar-background{
  background-color: #000000;
}

.header_dark > .toolbar-background {
  background-color: #000000;
}

.header_dark > .toolbar-background {
  background-color: #000000;
}

.toolbar_dark > .list{
  background-color: #000000;
}

.toolbar_dark, .item {
  background-color: #000000;
  color: white;
  //color: $lynxPink;
}

.toolbar_dark, .item:hover {
  background-color: #000000;
  color: #DB0F7D;
  //lynxDarkPink: #9A0959,
  //color: $lynxPink;
}


/*211 Service listing and selection css.*/
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.categories_for_211 {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /*width: 15em;*/
}
.categories_for_211 li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  border-bottom: 1px solid black;
}
.categories_for_211 li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.categories_for_211 li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.categories_for_211 .text {
  position: relative;
  top: -3px;
}
.categories_for_211 .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
