// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
@import '../theme/helpers';   // HELPER FUNCTIONS AND MIXINS
@import '../theme/menu';      // MENU
@import '../theme/bars';      // NAVBARS, TOOLBARS, AND TABS
@import '../theme/lists';     // LISTS
@import '../theme/forms';     // FORMS AND INPUTS
@import '../theme/buttons';   // BUTTONS
@import '../theme/badges';    // BADGES
@import '../theme/logos';     // LOGOS, ICONS, AND OTHER IMAGES
@import '../theme/alerts';    // TOASTS, POPUPS, MODALS, etc.

// Ionic bugfix so scrollbar isn't always there
.scroll-content {
  overflow-y: auto !important;
}


#ion-spinner-container {
  background-color: transparentize($lynxBlack, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 60% 0;
  
  ion-spinner {
    height: size(5);
    width: size(5);
  }  
}
