// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
@import '../theme/helpers';   // HELPER FUNCTIONS AND MIXINS
@import '../theme/menu';      // MENU
@import '../theme/bars';      // NAVBARS AND TOOLBARS
@import '../theme/lists';     // LISTS
@import '../theme/forms';     // FORMS AND INPUTS
@import '../theme/buttons';   // BUTTONS
@import '../theme/badges';    // BADGES
@import '../theme/logos';     // LOGOS AND OTHER IMAGES
@import '../theme/alerts';    // TOASTS, POPUPS, MODALS, etc.
