<!-- SIDEBAR MENU -->
<ion-menu class="lynx-menu" [content]="content" side="right" persistent="true">

  <ion-content>
      
    <!-- Build menu buttons based on whether or not user is signed in or not -->
    
    <!-- If signed in... -->
    <div *ngIf="auth.isSignedIn(); else notSignedIn">
      
      <ion-list class="lynx-list lynx-list-contrast">
      
        <button ion-item menuClose 
                class="item-heading" 
                id="menu-welcome-button"
                (click)="goHome()">
          Welcome {{ user ? user.first_name : "" }}!
        </button>
        
        <button ion-item menuClose 
                class="item-heading"
                id="menu-profile-button"
                (click)="openPage(profilePage)">
          My Profile
        </button>
        
        <!-- Build a button for each page listed in the signedInPages attribute -->
        <button ion-item menuClose 
                class="item-heading" 
                *ngFor="let p of signedInPages" 
                (click)="openPage(p)">
          {{p.title}}
        </button>
        
      </ion-list>
      
    </div>
    
    <!-- If not signed in... -->
    <ng-template #notSignedIn>
      
      <ion-list class="lynx-list lynx-list-contrast">
      
        <button ion-item menuClose 
                class="item-heading" 
                id="menu-sign-in-button"
                (click)="openPage(signInPage)">
          Hello! Log In Now
        </button>
        
        <button ion-item menuClose 
                class="item-heading" 
                id="menu-sign-up-button">
          Don't have an account?
        </button>
        
        <!-- Build a button for each page listed in the signedOutPages attribute -->
        <button ion-item menuClose 
                class="item-heading" 
                *ngFor="let p of signedOutPages" 
                (click)="openPage(p)">
          {{p.title}}
        </button>
        
      </ion-list>
      
    </ng-template>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
