<!-- SIDEBAR MENU -->
<ion-menu class="lynx-menu" [content]="content" side="right" persistent="true">

  <ion-content>

    <!-- Build menu buttons based on whether or not user is signed in or not -->
    

    <ion-list class="lynx-list lynx-list-contrast">

      <!-- If signed in... -->
      <div *ngIf="auth.isRegisteredUser(); else notRegistered">

          <button ion-item menuClose
                  class="item-heading"
                  id="menu-welcome-button"
                  (click)="goHome()">
            {{ "lynx.pages.menu.welcome_user" | translate:user_name }}
          </button>

          <button ion-item menuClose
                  class="item-heading"
                  id="menu-profile-button"
                  (click)="openPage(profilePage)">
            {{ "lynx.pages.menu.profile" | translate }}
          </button>

          <!-- Build a button for each page listed in the signedInPages attribute -->
          <button ion-item menuClose
                  class="item-heading"
                  *ngFor="let p of signedInPages"
                  (click)="openPage(p)">
            {{ "lynx.pages.menu." + p.title | translate }}
          </button>


      </div>
      
      <!-- Social media links -->
      <ion-item>
        <a class="lynx-button-link link-white" 
           href="https://twitter.com/lynxbusorlando">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a class="lynx-button-link link-white" 
           href="https://www.facebook.com/golynx/">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>        
      </ion-item>

      <!-- If not signed in... -->
      <ng-template #notRegistered>

        <button ion-item menuClose
                class="item-heading"
                id="menu-sign-in-button"
                (click)="openPage(signInPage)">
          {{ "lynx.pages.menu.sign_in" | translate }}
        </button>

        <button ion-item menuClose
                class="item-heading"
                id="menu-sign-up-button"
                (click)="openPage(signUpPage)">
          {{ "lynx.pages.menu.sign_up" | translate }}
        </button>

        <!-- Build a button for each page listed in the signedOutPages attribute -->
        <button ion-item menuClose
                class="item-heading"
                *ngFor="let p of signedOutPages"
                (click)="openPage(p)">
          {{ "lynx.pages.menu." + p.title | translate }}
        </button>

      </ng-template>
      
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav  [root]="rootPage"
          #content
          swipeBackEnabled="false">
</ion-nav>

<div #spinnerContainer id="ion-spinner-container" text-center *ngIf="showSpinner">
  <ion-spinner name="crescent"></ion-spinner>
</div>
