page-feedback-modal {
  
  #feedback-modal-title {
    margin-top: size(4);
  }
  
  #feedback-modal-rating {
    li {
      font-size: $font-size-xl;
      
      ion-icon {
      }
    }
  }
  
  #feedback-modal-review {
  
    ion-textarea {
      textarea {
        margin-left: 0;
        height: size(4);
      }
    }
    
  }
  
  #feedback-modal-buttons {
    margin-top: size(2);
  }
}
