<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="lynx-toolbar">
    <ion-title>{{ "lynx.pages.contact_us.header" | translate }}</ion-title>
    <button ion-button end menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-sm-10 offset-sm-1 col-md-8 offset-md-2>
        
        <ion-list class="lynx-list">
          <ion-item text-wrap *ngFor="let agency of agencies">
            <h3 class="item-heading">{{agency.name}}</h3>
            <p class="item-body" *ngIf="!!(agency.formatted_phone || agency.phone)">
              <b>{{ "page.contact_us.phone" | translate }}: </b><a href="tel:{{agency.phone}}">{{agency.formatted_phone || agency.phone}}</a>
            </p>
            <p class="item-body" *ngIf="helpers.urlPresent(agency.url)">
              <b>{{ "page.contact_us.website" | translate }}: </b><a href="{{agency.url}}">{{agency.url}}</a>
            </p>
          </ion-item>
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
