page-reset-password {
  .content-ios,.content-md,.content-wp {
    background-color: $lynxPink;
  }
  
  #reset-password-description {
    margin-top: size(5);
    margin-bottom: size(4);
    color: $lynxWhite;
  }
  
  #reset-password-button {
    margin-top: size(2);
  }
}
