service-details {
    
  .service-details-section {
    padding-top: size(-2);
  }

  ul.service-schedule {
    
    list-style: none;
    margin-top: 0;
    padding-left: size(2);
    margin-bottom: 0;
    
    li {
      font-size: $font-size-sm;
    }
    
  }
  
  ion-col.image-container {
    max-width: size(5);
  }
}
