<!-- SERVICE DETAILS -->
  
<!-- NAME -->
<h3 class="item-heading">{{service.name}}</h3>

<!-- FARE -->
<p class="item-body service-details-section" *ngIf="service.fare">
  <b>{{ "components.service_details.fare" | translate }}: </b>
  {{ service.fare | currency:'USD':true:'1.2-2' }}
</p>

<!-- PHONE -->
<p class="item-body service-details-section" *ngIf="!!(service.formatted_phone || service.phone)">
  <b>{{ "components.service_details.phone" | translate }}: </b>
  <a href="tel:{{service.phone}}">{{service.formatted_phone || service.phone}}</a>
</p>

<!-- EMAIL -->
<p class="item-body service-details-section" *ngIf="service.email">
  <b>{{ "components.service_details.email" | translate }}: </b>
  <a href="mailto:{{service.email}}">{{service.email}}</a>
</p>

<!-- WEBSITE -->
<p class="item-body service-details-section" *ngIf="helpers.urlPresent(service.url)">
  <b>{{ "components.service_details.url" | translate }}: </b>
  <a href="{{service.url}}">{{service.url}}</a>
</p>

<!-- DESCRIPTION -->
<!-- NOTE: Should be refactored to pull appropriate comment by user locale -->
<p class="item-body service-details-section" *ngIf="service.comments && service.comments.en">
  <b>{{ "components.service_details.description" | translate }}: </b>
  {{service.comments && service.comments.en}}
</p>

<!-- SCHEDULE -->
<div class="service-details-section" *ngIf="service.schedules && service.schedules.length > 0">
  <p class="item-body">
    <b>{{ "components.service_details.schedule" | translate }}:</b>              
  </p>
  <ul class="service-schedule">
    <li *ngFor="let schedule of service.schedules">
      <b>{{ schedule.day | scheduleDay }}:</b>
      {{ schedule.start_time | scheduleTime }} {{ "global.common.to" | translate }}
      {{ schedule.end_time | scheduleTime }}
    </li>
  </ul>              
</div>

<!-- PURPOSES -->
<p class="item-body service-details-section" *ngIf="service.purposes.length > 0">
  <b>eligible purposes: </b>
  {{ purposeList() }}
</p>
