<!--ServiceFor211DetailPage-->
<ion-header>

  <!-- If there's a service present, put its name and address in the header -->
  <ion-navbar class="lynx-toolbar" *ngIf="service; else noServiceHeader">
    <div class="dynamic-toolbar-title"><b>{{service.agency_name}}</b></div>
    <!-- <ion-title>{{service.agency_name}}</ion-title> -->
    <div class="lynx-toolbar-body">{{service.address}}</div>
    <div *ngIf="service" class="lynx-toolbar-body">
      <a *ngIf="service.url" href="{{service.url}}" target="_blank">{{service.display_url}}</a>
    </div>
  </ion-navbar>
  
  <!-- If no service is present, put the origin and destination in the header -->
  <ng-template #noServiceHeader>
    <ion-navbar class="lynx-toolbar">
      <div class="dynamic-toolbar-title"><b>{{ origin.label() }}</b></div>
      <div class="dynamic-toolbar-title">{{ "lynx.global.common.to" | translate}} <b>{{ destination.label() }}</b></div>
    </ion-navbar>
  </ng-template>

</ion-header>


<ion-content>
  <ion-grid>
    
    <!-- TRANSPORTATION OPTIONS -->
    <ion-row>
      <ion-col col-md-8 offset-md-2 no-padding>
        <ion-list class="lynx-list">
          
          <!-- For each mode other than paratransit, build a button -->
          <ion-item *ngFor="let mode of returnedModes">
            <h3 item-start class="item-heading mode-label">
              {{ "lynx.global.modes." + mode | translate }}
            </h3>
            <div item-end class="mode-fare">
              {{ tripResponse.costsByTripType(mode) | prettyFare }}
            </div>
            <button ion-button item-end round default
                    class="lynx-button-primary mode-trip-plan-button"
                    (click)="openDirectionsPage(mode)">
              {{ durationFor(mode) | prettyTime }}
            </button>
          </ion-item>
          
          <!-- For paratransit, build a special button -->
          <ion-item *ngIf="tripResponse.includesTripType('paratransit')">
            <h3 item-start class="item-heading mode-label">
              {{ "lynx.global.modes.paratransit" | translate }}
            </h3>
            <div item-end class="mode-fare" >
              {{ tripResponse.costsByTripType("paratransit") | prettyFare }}
            </div>
            <button ion-button item-end round default
                    class="lynx-button-primary mode-trip-plan-button"
                    (click)="openOtherTransportationOptions()">
                    <ion-icon pull-right name="arrow-forward"></ion-icon>
            </button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>


    <!-- SERVICE DETAILS -->

    <!-- Show service details only if service is present -->
    <ion-row *ngIf="service">
      <ion-col col-md-8 offset-md-2>
        <h3>{{ "lynx.pages.service_details.details_header" | translate }}</h3>
        
        <!-- insert a line for each non-null key in the details hash -->
        <div *ngFor="let k of detailKeys" class="">
          <b>{{ "lynx.pages.service_details." + k | translate }}: </b>
          <span [innerHTML]="service.details[k]"></span>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- Show feedback and questions buttons only if service is present -->
    <ion-row *ngIf="service">
      
      <!-- Questions? button -->
      <!-- Show questions? button only if service phone # is present -->
      <ion-col col-md-6 text-center *ngIf="service.phone">
        <h3>{{ "lynx.pages.service_details.phone_header" | translate }}</h3>
        <a href="tel:{{service.phone}}">
          <button ion-button round
                  class="lynx-button-primary">
                  {{service.phone | formatPhoneNumber }}
          </button>
        </a>
      </ion-col>
      
      <!-- Feedback? button -->
      <ion-col col-md-6 text-center>
        <h3>{{ "lynx.pages.service_details.feedback_header" | translate }}</h3>
        <button ion-button round 
                class="lynx-button-primary"
                (click)="rateService(service)">
          {{ "lynx.pages.service_details.feedback_button" | translate }}
        </button>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
