page-service-for211-detail {
  
  ion-list.lynx-list {
    
    ion-item.item {
      .item-heading {
        color: $lynxBlack;
      }
      
      button {
        width: size(8);
      }
    }    
  }

  .standout{
    font-weight: bold !important;
  }
  
}
