<!--ServiceFor211DetailPage-->
<ion-header>

  <!-- If there's a service present, put its name and address in the header -->
  <ion-navbar class="lynx-toolbar" *ngIf="service; else noServiceHeader">
    <ion-title>{{service.agency_name}}</ion-title>
    <div class="lynx-toolbar-body">{{service.address}}</div>
    <div *ngIf="service" class="lynx-toolbar-body">
      <a *ngIf="service.url" href="{{service.url}}" target="_blank">{{service.display_url}}</a>
      <!-- <div (click)="rateService()">
        <rating class="lynx-rating" [(ngModel)]="service.rating" readOnly="true"></rating>
        <span>{{service.ratings_count}} reviews</span>
      </div> -->
    </div>
  </ion-navbar>
  
  <!-- If no service is present, put the origin and destination in the header -->
  <ng-template #noServiceHeader>
    <ion-navbar class="lynx-toolbar">
      <ion-title>
        <div>{{ origin.formatted_address}}</div>
        <div>to {{destination.formatted_address}}</div>
      </ion-title>
    </ion-navbar>
  </ng-template>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-8 offset-md-2>
        <ion-list class="lynx-list">
          
          <!-- For each mode other than paratransit, build a button -->
          <ion-item *ngFor="let mode of basicModes">
            <h3 class="item-heading">{{ labelFor(mode) }}</h3>
            <button ion-button item-end round default
                    class="lynx-button-primary"
                    (click)="openDirectionsPage(mode)"
                    *ngIf="tripResponse; else calculatingDuration">
              {{ durationFor(mode) | prettyTime }}
            </button>
          </ion-item>
          
          <!-- For paratransit, build a special button -->
          <ion-item>
            <h3 class="item-heading">Other Transportation Options</h3>
            <button ion-button item-end round default
                    class="lynx-button-primary"
                    (click)="openOtherTransportationOptions()"
                    *ngIf="tripResponse; else calculatingDuration">
                    <ion-icon pull-right name="arrow-forward"></ion-icon>
            </button>
          </ion-item>
          
          <!-- Until the trip response data comes back, display this disabled button for each mode -->
          <ng-template #calculatingDuration> 
            <button ion-button item-end round default
                    class="lynx-button-primary"
                    disabled>
              <ion-spinner name="dots"></ion-spinner>
            </button>           
          </ng-template>
          
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Show service details only if service is present -->
    <ion-row *ngIf="service">
      <ion-col col-md-8 offset-md-2>
        <h3>About This Service</h3>
        <p id="service-description">
          {{service.description}}          
        </p>
      </ion-col>
    </ion-row>
    
    <!-- Show questions? button only if servive & phone # is present -->
    <ion-row *ngIf="service && service.phone && service.phone.length > 0">
      <ion-col col-md-8 offset-md-2 text-center>
        <h3>Have Questions?</h3>
        <a href="tel:{{service.phone}}">
          <button ion-button round
                  class="lynx-button-primary">
                  {{service.phone | formatPhoneNumber }}
          </button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
