lynx-button-dark {
  button.lynx-button-dark {
    background-color: $lynxDarkPink;
    border: 1px solid $lynxDarkPink;
    color: $lynxWhite;
    
    &:active {
      background-color: $lynxWhite;
      border-color: $lynxLightGray;
      color: $lynxDarkPink;
    }
  }
}
